body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.calculator {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.title{
    text-align: center;
}
